<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.jiahaoliuliu.movieslistinstant.moviedetails">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.jiahaoliuliu.movieslistinstant.moviedetails.MovieDetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="movieslist.com"
                    android:pathPattern="/details"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="movieslist.com"
                    android:pathPattern="/details"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
    <dist:module
        dist:instant="true"
        dist:title="@string/title_movie_details">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>

